.fundo {
  width: 100%;
  height: 770px;
  position: absolute;
}

.logo {
  width: 800px;
  max-width: 100%; /* Responsividade: ajusta a largura da logo */
}

figure {
  margin: auto;
  text-align: center;
}

@keyframes cloud {
  0% {
    transform: translate3d(0, 0, 0);
  }
  49% {
    transform: translate3d(-200vw, 0, 0);
    visibility: hidden;
  }
  50% {
    transform: translate3d(200vw, 0, 0);
    visibility: hidden;
  }
  51% {
    transform: translate3d(200vw, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.home {
  overflow: hidden;
}

.nuvens {
  background-color: #622aff;
  width: 100%;
  padding-bottom: 0;
  position: relative;
}

.cloud-3-2,
.cloud-3-1,
.cloud-2-3,
.cloud-2-4,
.cloud-2-5,
.cloud-2-2,
.cloud-2-1,
.cloud-1-2,
.cloud-1-1 {
  position: absolute;
  animation: cloud linear infinite;
}

.cloud-3-2 {
  top: -90px;
  left: 150vw;
  animation-duration: 300s;
}

.cloud-3-1 {
  top: 250px;
  left: 160vw;
  animation-duration: 300s;
}

.cloud-2-3 {
  top: -250px;
  left: 160vw;
  animation-duration: 340s;
}

.cloud-2-4 {
  top: -150px;
  left: 160vw;
  animation-duration: 100s;
}

.cloud-2-5 {
  top: 250px;
  left: 160vw;
  animation-duration: 130s;
}

.cloud-2-2 {
  top: -300px;
  left: 95vw;
  animation-duration: 240s;
}

.cloud-2-1 {
  top: 10px;
  left: 2vw;
  animation-duration: 240s;
}

.cloud-1-2 {
  top: -300px;
  left: 170vw;
  animation-duration: 180s;
}

.cloud-1-1 {
  top: -200px;
  left: 30vw;
  animation-duration: 180s;
}

.absolute {
  width: 35px;
  border-right: solid white 1px;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  border: 0;
}

.resphub {
  height: 750px;
  margin-top: 20px;
  width: 90%; /* Responsivo: largura ajustável */
  max-width: 750px; /* Limita a largura máxima */
  right: 0;
  font-size: 25px;
  background-image: url(/src/assets/pergaminhomainn.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  color: black;
  text-align: center;
  z-index: 1;
  position: absolute;
}

.fotos {
  display: flex;
  flex-wrap: wrap; /* Permite que as fotos se reorganizem em várias linhas */
  justify-content: space-around;
  width: 100%; /* Ajusta para ocupar toda a largura */
  margin-top: 160px;
}

.fotohub {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 10px; /* Adiciona espaço entre as imagens */
}

.nomehub {
  line-height: 30px;
  width: 450px;
  margin: auto;
  margin-top: 10px;
}

.infoshub {
  margin-top: 5px;
  line-height: 20px;
  height: 290px;
}

.exphub {
  background-color: #222435;
  margin-top: 40px;
  height: 50px;
  width: 450px;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.barra {
  margin-top: 40px;
}

.barraxp {
  height: 100%;
  color: white;
  width: 100%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 13px;
  margin-top: 10px;
}

.barralateral {
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.nivel {
  margin-bottom: 10px;
}

.projetosdiv {
  margin-top: 50px;
  border: 2px solid white;
  width: 200px;
}

.fontsize:hover {
  transform: scale(1.13);
}

.fontsize {
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .resphub {
    width: 100%; /* Ajusta a largura para 100% */
    font-size: 22px; /* Reduz o tamanho da fonte */
  }

  .fotos {
    width: 90%; /* Reduz a largura das fotos para 90% */
    flex-direction: row; /* Organiza as fotos em uma coluna */
  }

  .fotohub {
    width: 60px;
    height: 60px; /* Ajusta o tamanho das fotos */
  }

  .nomehub {
    width: 10%; /* Ajusta o tamanho do nome */
  }

  .infoshub {
    height: auto; /* Deixa a altura adaptável */
  }

  .exphub {
    width: 30%; /* Reduz o tamanho da exp */
  }

  .barraxp {
    font-size: 12px; /* Reduz o tamanho da fonte da barra */
  }

  .projetosdiv {
    width: 90%; /* Ajusta o tamanho do projeto */
  }

  .fontsize {
    font-size: 14px; /* Reduz o tamanho da fonte */
  }
}

@media screen and (max-width: 459px) {
  .logo {
    width: 60%; /* Ajusta o tamanho da logo em telas muito pequenas */
  }

  .fotos {
    margin-top: 100px; /* Reduz o espaçamento entre as fotos */
  }

  .resphub {
    height: auto; /* Permite que a altura seja ajustada */
    width: 100%; /* A largura será 100% */
  }

  .fotohub {
    width: 80px;
    height: 80px; /* Reduz ainda mais o tamanho das fotos */
  }

  .nomehub {
    width: 100%; /* Ajusta o nome para ocupar toda a largura disponível */
  }

  .fontsize {
    font-size: 12px; /* Reduz o tamanho da fonte */
  }
}
/* Responsividade para a seção de seguidores */
.seguidoresatak,
.seguidoresdeff {
  border: 2px solid white;
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.segefolow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}

.projetoseflows {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  flex-wrap: wrap;
}

.sujestaofqatak,
.sujestaofdeff {
  width: 100%;
  max-width: 350px;
  height: 430px;
  position: absolute;
  color: white;
  top: 500px;
  border-radius: 7px;
  z-index: 1;
  left: 0;
}

.sujestaofdeff {
  left: auto;
  right: 0;
}

.infosdeff,
.infosatak {
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 40px;
  font-size: 19px;
  color: black;
  width: 250px;
}

.infosdeff {
  right: 30px;
}

.infosatak {
  left: 50px;
}

.escudo-espadag {
  margin-top: 30px;
}

.h1def,
.h1atak {
  margin-left: 70px;
  margin-bottom: 30px;
}

.h1atak {
  margin-left: 60px;
  margin-bottom: 30px;
}

/* Barra de XP */
.barraxp .filled-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(114, 173, 19, 0.644); /* Cor da barra preenchida */
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.absolute {
  width: 35px;
  border-right: solid white 1px;
}

/* Botão de ação */
.button {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.button p,
.label {
  color: black;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
}

.button p:active,
.button label:active {
  top: 10px;
  background-color: #f78900;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  border-radius: 5px;
}

/* Responsividade geral */
@media (max-width: 768px) {
  .segefolow,
  .projetoseflows {
    flex-direction: column;
  }

  .sujestaofqatak,
  .sujestaofdeff {
    width: 90%;
    left: 0;
    right: 0;
    position: relative;
    top: 20px;
  }

  .infosdeff,
  .infosatak {
    width: 100%;
    left: 20px;
    right: 20px;
    top: 20px;
  }

  .escudo-espadag {
    margin-top: 20px;
  }

  .h1def,
  .h1atak {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1536px) {
  .resphub {
    height: 750px;
    margin-top: 20px;
    width: 750px;
    right: 400px; /* Ajuste para não sobrepor */
    font-size: 25px;
    background-image: url(/src/assets/pergaminhomainn.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: black;
    text-align: center;
    z-index: 1;
    position: absolute;
  }

  .sujestaofdeff {
    width: 350px;
    height: 430px;
    position: absolute;
    color: white;
    left: 1150px;
    top: 500px;
    border-radius: 7px;
    z-index: 1;
  }
}

@media screen and (max-width: 630px) {
  .fundo {
    width: 100%;
    height: 1056px;
    position: absolute;
  }

  .resphub {
    margin-top: 20px;
    width: 90%; /* Ajusta a largura para 90% da tela */
    right: 5%; /* Alinha à direita com um pequeno espaço */
    font-size: 18px; /* Ajuste para melhor legibilidade */
    background-image: url(/src/assets/pergaminhomainn.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: black;
    text-align: center;
    z-index: 1;
    position: absolute;
  }

  .fotos {
    display: flex;
    flex-wrap: wrap; /* Permite que as fotos se ajustem em várias linhas, se necessário */
    justify-content: space-around;
    width: 100%; /* Ajusta a largura para 100% */
    margin-top: 130px;
  }

  .fotohub {
    width: 80px; /* Ajusta o tamanho das fotos */
    border-radius: 50%;
  }

  .nomehub {
    line-height: 30px;
    width: 100%;
    margin-top: 10px;
    text-align: center; /* Centraliza o nome */
  }

  .infoshub {
    margin-top: 5px;
    line-height: 30px;
    height: 290px;
    width: 100%; /* Ajusta a largura para 100% */
  }

  .exphub {
    background-color: #222435;
    height: 50px;
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
  }

  .segefolow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* Ajuste para caber melhor na tela */
    margin: 20px auto;
  }

  .sujestaofdeff,
  .sujestaofqatak {
    width: 100%; /* Ajusta para tela menor */
    top: auto;
    bottom: 0;
    left: 0;
    margin-top: 20px;
  }

  .infosdeff,
  .infosatak {
    padding: 10px;
    width: 100%;
    font-size: 14px; /* Ajusta o tamanho da fonte */
    color: black;
    position: relative;
    z-index: 2;
  }

  .button {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
  }

  .button p,
  label {
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px; /* Ajusta o tamanho da fonte */
    text-align: center;
    text-decoration: none;
    background-color: #ffa12b;
    display: block;
    position: relative;
    padding: 10px;
    border-radius: 5px;
  }

  .button p:active,
  .button label:active {
    background-color: #f78900;
  }

  .button:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #2b1800;
    border-radius: 5px;
  }
}

@media screen and (max-width: 459px) {
  .fundo {
    width: 100%;
    position: absolute;
  }

  .resphub {
    margin-top: 20px;
    width: 90%; /* Ajusta a largura */
    right: 0;
    font-size: 18px; /* Ajuste para melhorar a leitura em telas menores */
    background-image: url(/src/assets/pergaminhomainn.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
    color: black;
    text-align: center;
    z-index: 1;
    position: absolute;
  }

  .fotos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
  }

  .fotohub {
    width: 60px; /* Ajuste maior para fotos */
    border-radius: 50%;
  }

  .nomehub {
    line-height: 14px;
    width: 80%;
    font-size: 14px; /* Reduz o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    margin: 0 auto;
  }

  .infoshub {
    margin-top: 5px;
    line-height: 20px;
    height: auto;
    width: 100%;
    font-size: 14px;
  }

  .exphub {
    background-color: #222435;
    height: 30px;
    width: 80%;
    border-radius: 10px;
    margin: 10px auto;
  }

  .segefolow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
  }

  .button p,
  label {
    font-size: 15px; /* Menor para caber melhor nas telas menores */
  }
}
